.navbar.navbar-fixed-top.nav-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_path}
        = "KStation"      
      
      .nav-collapse.subnav-collapse
        -if user_signed_in?
          %ul.nav
            %li
              %a{:href => dashboard_url}
                = "Home"
            %li
              %a{:href => "#"}
                = "Stats"
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                = "Cars"
                %b.caret
              %ul.dropdown-menu
                -current_user.cars.each do |c|
                  %li
                    %a{href: car_url(c.slug)}
                      = "#{c.brand} - #{c.model} - #{c.year}"

                %li.divider
                %li
                  %a{href: new_car_url}
                    = "New"
                %li.divider
                %li
                  %a{href: cars_url}
                    = "All"
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                = current_user.name
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"}
                    = "Settings"
                %li
                  = link_to "Sign Out", destroy_user_session_path, :method => :delete
        -else
          %ul.nav.pull-right
            %li
              %a{:href => new_user_session_path}
                = "Sign In"


    / /container
  / /navbar-inner
/ /navbar