= form_for(@car, html: {class: 'form-horizontal'}) do |f|
  .control-group
    = f.label :brand, class: 'control-label'
    .controls
      = f.select :brand, Car.brand.options
  .control-group
    = f.label :model, class: 'control-label'
    .controls
      = f.text_field :model
  .control-group
    = f.label :year, class: 'control-label'
    .controls
      = f.number_field :year, in: 1960...2013
  .control-group
    = f.label :color, class: 'control-label'
    .controls
      = f.text_field :color
  
  .form-actions
    = f.submit "Create", :class => "btn btn-primary"