.page-header
  %h1
    = "#{@car.brand.titleize} #{@car.model.titleize}"

.row
  .span6
    = render :partial => "shared/tanking", :locals => {:car => @car}
    
    %a.btn.btn-success.btn-large{:href => new_car_tanking_url(@car.slug)}
      %i.icon.icon-edit
      = "Refuel it" 
    %a.btn.btn-warning.btn-large{:href => edit_car_url(@car.slug)}
      %i.icon.icon-edit
      = "Edit" 
    %a.btn.btn-danger.btn-large{:href => car_url(@car.slug), "data-method" => :delete}
      %i.icon.icon-trash
      = "Delete"