!!!
%html
  %head
    %title KStation
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:400italic,600italic,400,600'
    = stylesheet_link_tag    "application"

    = csrf_meta_tags
  %body
    = render :partial => "layouts/shared/header"
    .main.inner
      .main-inner
        .container.content
          = yield
        / /container
      / /main-inner
    / /main

    .footer
      .footer-inner
        .container
          .row
            .span12
            / /span12
          / /row
        / /container
      / /footer-inner
    / /footer
    /
    = javascript_include_tag "application"

    -if content_for?(:js)
      = yield :js